body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(136, 177, 180);
}
.heading{
text-align: center;
text-transform:uppercase; 
color: rgb(3, 21, 37);
}
.box1{
  text-align: center;
  text-transform:uppercase; 
 color: rgb(3, 21, 37);
}

.box2{
  text-align: center;
  text-transform:uppercase; 
 color: rgb(3, 21, 37);
 display:inline-block;
 border: 2%solid red;
}
